body{
    font-family: 1em/1.65em 'Open Sans',"Arial",sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  } 
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  #menu{
    position: absolute;
    right: 30px;
    top: 30px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  * {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: 1200px;
    margin: auto;
}

/* Caption text */
.text a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin: 38px 14px ;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: left;
}

.text a:hover{
    text-decoration: underline;
}

/* Style the search field */
form.example input[type=text] {
    padding: 7px;
    font-size: 17px;
    width: 25%;
    position: absolute;
    left: 38%;
    top: 740px;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

/* The dots/bullets/indicators */
.dot {
  height: 8px;
  width: 8px;
  margin: 0 6px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 1s ease;
  position: relative;
  top: -50px;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
} /*slide*/

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}/*slide*/

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.pichead img{
  max-width: 1050px;
  position: relative;
  left: 180px;
}

.row h2{
    position: relative;
    left: 180px;
    font-weight: 100;
}